@font-face{
  font-family: blocky;
  src: url(/fonts/Minercraftory.ttf);
}

@font-face{
  font-family: pixel;
  src: url(/fonts/FreePixel.ttf);
  font-weight: bold;
}

body.skull-beggar{
  font-size: 24px;
  line-height: 1;
  background-color: #5C4033;
  color: #222;
  font-family: blocky;
}

div.modal-content{
  font-size: 24px;
  line-height: 1;
  background-color: #5C4033;
  color: #222;
  font-family: pixel;
  padding: 12px;
}

div.modal-panel{
  background-color: #8B7765;
  border: 0px solid;
  border-radius: 2px;
  padding: 12px 12px 0px 12px;
  margin: 0px;
}

p {
  font-family: pixel;
}

button.reactive-btn{
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

button.btn, button.btn:focus{
  background-color: #85144B;
  color: #fff;
  font-family: pixel;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.43;
}

button.btn:hover, button.btn:active{
  background-color: #700038;
  color: #fff;
  font-family: pixel;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.43;
}

button.btn:active,
button.btn:focus,
button.btn.active,
button.btn:active:focus{
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
            
  -webkit-box-shadow: inset 0px 0px 8px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    inset 0px 0px 8px 4px rgba(50, 50, 50, 0.75);
  box-shadow:         inset 0px 0px 8px 4px rgba(50, 50, 50, 0.75);
  
}
div.enemy-row:active{
  -webkit-box-shadow: inset 0px 0px 20px 10px rgba(20, 20, 20, 0.75);
  -moz-box-shadow:    inset 0px 0px 20px 10px rgba(20, 20, 20, 0.75);
  box-shadow:         inset 0px 0px 20px 10px rgba(20, 20, 20, 0.75);
}

a{
  color: #85144B;
}

input.skull-input{
  border-radius: 2px;
  font-family: blocky;
}

div.panel{
  background-color: #8B7765;
  border: 0px solid;
  border-radius: 2px;
  padding: 12px;
  margin: 10px -4px 10px -4px;
}

div.activity-panel{
  background-color: #8B7765;
  border: 0px solid;
  border-radius: 2px;
  padding: 12px 12px 0 12px;
  margin: 10px -4px 10px -4px;
}

div.enemy-row{
  background-color: #8B7765;
  border: 0px solid;
  border-radius: 2px;
  padding: 12px;
  margin: 0 -4px 10px -14px;
}

div.enemy-row:hover{
  background-color: #2E2722;
  color: #DDD;
  cursor: pointer;
}

div.enemy-wrapper{
 padding-left: 10px; 
}

.bottom-12px{
  padding-bottom: 12px;
};

.bottom-1{
  padding-bottom: 10px;
}

.bottom-2{
  padding-bottom: 20px;
}

img.money{
  margin-left: 4px;
  margin-top: 10px;
  margin-right: 0;
  width: 30px;
}

img.heart{
  margin-left: 4px;
  margin-top: 8px;
  margin-right: 12px;
  width: 30px;
}

img.enemy{
  width: 32px;
  height: 32px;
}

.big-text{
  font-size: 24px;
  font-family: blocky;
  line-height: 1.43;
}