<div class="row panel">
	<div class="col-md-2"></div>
	
	<div class="col-md-8 text-center">
		<div class="bottom-2"> Skull Beggar BETA </div>
		
		<p> 
			{{ owner ? "Your" : "This" }} channel is currently in an inactive 
			state. This means {{ owner ? "you have" : "the streamer has" }} not 
			yet opted to allow users to bet on
			any new games. 
			<span ng-if="!owner">
				To check to see if {{ streamerName }} will be playing
				Skull Roulette anytime soon, click
				<a href="{{ streamUrl }}" target="_none"> here </a>
				to be taken to their stream.
			</span>
		</p>
		
		<p>
			A note! This app is currently "Hella Beta, Yo". It's been rushed so
			it can be out for people to use on the same day Rebirth comes out. This 
			means stuff is likely broken, and likely to break! I don't have
			any Rebirth enemies in here, so if you find one, select "New Enemy" and
			"New Boss" respectively. If you find something I haven't accounted for
			choose "Other". The search bar is pretty handy to find stuff. Expect
			shiny new features to be rolled out eventually. Currently, I'm going
			to iron out all the bugs in the current application and then build
			some tests for it. After that, shiny new stuff. Good luck! If you
			find some bugs, private message me on Twitch, I'm MysteryMachineSA.
		</p>
		
		<p>
			In Skull Beggar, the streamer opens betting before beginning
			a Binding of Isaac game. Users are allowed to place a bet
			on the enemy they believe will be responsible for the streamer's
			death. The user is also allowed to bet on the streamer winning
			the game. The streamer then must close betting, and play the game
			until they win or lose. If some users guessed correctly, the pot is 
			split evenly between them. If not, bets are returned to the users.
		</p>
		
		<p ng-if="!owner">
			To create a channel for your own stream, click 
			<a href="{{ rootUrl }}" target="_self"> here</a>.
		</p>

	</div>
	
	<div class="col-md-2"></div>
</div>